/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree ./application
*/

@import 'bootstrap';
@import 'bootstrap-responsive';

html, body {
	height: 100%;
}


#main_application { 
	padding-top: 20px; 
	img {
		&.img-polaroid {
			padding: 4px;
			border: 1px solid #ccc;
			background: #fff;
		}
	}
	.container { 
		min-height: 100%; 
		.spacer { height: 50px; }
		article { margin: 10px 0; }
	}
	footer { 
		padding: 0 15px;
		margin: 0 auto;
		margin-top: -50px; 
	}
}
