= render_breadcrumbs
= will_paginate(@posts, next_label: '>', previous_label: '<', class: 'pagination pagination-mini')
= render partial: 'categories/category_posts', collection: @posts, as: :post if @posts.present?
= will_paginate(@posts, next_label: '>', previous_label: '<', class: 'pagination pagination-mini')
